/* Global CSS variables */
:root {
    --spacing-company: 3rem;
    --font-weight: 400;
    --border-radius: 0;
    
  }

  /*tableau glow effect:  -moz-box-shadow: 0 0 5px #fff;
                    -webkit-box-shadow: 0 0 10px #fff;
                    box-shadow: 0 0 10px #fff;' */
  
  /* Typography */
  h2,
  h3,
  hgroup> :last-child {
    font-weight: 200;
  }
  
  small {
    color: var(--muted-color);
  }
  
  /* Header */
  .hero {
    background-color: #f3f5f7;
    background-image: url("imageedit_7_3976793805.jpg");
    background-position: center;
    background-size: cover;
  }

  .hero2 {
    background-color: rgb(12, 45, 28);
    background-image: none;
    background-position: center;
    background-size: cover;
  }
  
  header {
    padding: var(--spacing-company) 0;
  }
  
  header hgroup> :last-child {
    color: var(--h3-color);
  }
  
  header hgroup {
    margin-bottom: var(--spacing-company);
  }
  
  /* Nav */
  summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
    background-color: transparent;
    color: var(--contrast-hover);
  }
  
  /* Main */
  @media (min-width: 992px) {
    main .grid {
      column-gap: var(--spacing-company);
      grid-template-columns: auto 30%;
    }

    main .grid-even {
      column-gap: var(--spacing-company);
      grid-template-columns: auto 30%;
    }
  }
  
  form.grid {
    grid-row-gap: var(--spacing-company);
  }

  /* Dotted border */
hr.dotted {
  border-top: 10px dotted rgb(12, 45, 28);
}


/* formatting bullet points */
.customIndent {
  margin-left: 40px;
}